.text {
    font-family: 'press start 2p';
}
body{
    background: url(../images/background.gif);
    background-size: cover;
}

.main {
    box-sizing: border-box;
    max-width: 960px;
    background: rgba(255, 250, 255, 0.507);
    min-height: 500px;
}

.imgHolder {
    width: 200px;
    height: 200px; 
}

span {
    width: 200px;
    height:40px;
}
.name, .hero, .villain {
    font-size: 10px;
}
.fighters, .launch, .gameover {
    background: rgba(0, 0, 0, 0.801);
}

.name {
    margin-top: 150px;
}

.p {
    font-size: 14px;
}
.winwallpaper{
    background: url(../images/win.gif);
    background-size: cover;
}
.gameoverwp {
    background: url(../images/gameover.gif);
    background-size: cover;
}

.deadvillaintitle {
    background: rgba(253, 4, 4, 0.555);
}
